

.header header h1{
  width: 100%;
  display: flex; 
  color: rgb(194, 25, 25);
  font-size: 180px;
  text-align: center;
  justify-content: space-around; 
  font-family: 'Lobster', cursive;
  margin-right: 180px;
  margin-top: 15px;
  padding-top: 50px; 
}

.header header img {
  margin-top: 40px;
  margin-left: 50px;
  height: 250px; 
  margin-bottom: 50px;
  padding-top: 55px; 
}

header {
  margin-top: 0px;
  display: flex; 
  align-content: center;
  text-align: center;
  border-bottom: 5px solid black; 
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
}

div p{
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster', cursive;

}

#nav-bar {
  width: 100%;
  position: fixed; 
  height: 100px; 
  justify-content: space-around;
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
  display: flex;
  align-items: center;
  top: 0;
  
}

#nav-bar a{
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30px;
  
}

#nav-bar a:hover{
  color: rgb(194, 25, 25);
}

.shuffler div{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.shuffler h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.shuffler{
  align-content: center;
  text-align: center;
}

.log{
  display: flex; 
  flex-direction: column;
  width: 150px; 
  margin: 0 auto;

}


.Loginform {
  
  align-content: center;
  text-align: center;
  
}

.reg{
  display: flex; 
  width: 200px; 
  margin: 0 auto;

}

.Registerform{
  align-content: center;
  text-align: center;
  display: block; 
}

.button{
  align-content: center;
  text-align: center;
}

/* Combo Board */

.comboCard {
  background-color: lightblue; 
}

.row {
  background-color: white; 
  border-radius: 50px 50px 50px 50px; 
  padding-top: 45px; 
  padding-bottom: 10px; 
  box-shadow: 10px 10px 5px grey;
  
}

.container{
  margin-top: 15px; 
  margin-bottom: 40px; 
  
}

.shuffler {
  background-color: lightblue;
}

.shuffler h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.boardCard button {
  align-content: center;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px; 
  width: 10%;  
  justify-content: space-around;
  margin-top: 45px; 
  background-color: white;
}

.allCombos {
  background-color: lightblue; 
  
}

.comboCard button{
  font-family: 'Lobster', cursive;
  font-size: 20px; 
}

.comboHeaders h4{
  text-align: center;
  font-size: 55px; 
  font-family: 'Lobster', cursive;
}

/* Log In Form */
.loginpage{
  background-image: linear-gradient(to right, white, hsla(190, 48%, 80%, 0.687), white);
  box-shadow: 34px 13px 36px 5px rgba(55,56,56,1);
  margin-left: 250px; 
  margin-top: 30px;
  margin-right: 250px;
  padding-top: 25px;
  padding-bottom: 15px; 
  border-radius: 50px 50px 50px 50px;
}

.Loginform h3, label {
  font-family: 'Lobster', cursive;
}

.Loginform {
  margin-top: 25px;
}

.button {
  padding-bottom: 35px;
  
}

.Loginform label {
  font-size: 25px;
}

.Loginform h3{
  font-size: 35px;
}

.Loginform input {
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.loginpage .button {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  margin-top: 10px;
}

/* Register Form */
.registerpage {
  background-image: linear-gradient(to right, white, hsla(190, 48%, 80%, 0.687), white);
  box-shadow: 34px 13px 36px 5px rgba(55,56,56,1);
  margin-left: 250px; 
  margin-top: 30px;
  margin-right: 250px;
  padding-top: 25px;
  padding-bottom: 15px; 
  border-radius: 50px 50px 50px 50px;
}

.Registerform h3{
  font-size: 35px;
}

.Registerform h3, label {
  font-family: 'Lobster', cursive;
}

.Registerform {
  margin-top: 25px;
}

.Registerform label {
  font-size: 25px;
}

.Registerform h3{
  font-size: 35px;
}

.Registerform input {
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.registerpage .button {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  margin-top: 10px;
}

.shuffler button {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}