

.header header h1{
  width: 100%;
  display: flex; 
  color: rgb(194, 25, 25);
  font-size: 210px;
  text-align: center;
  justify-content: space-around; 
  font-family: 'Lobster', cursive;
  margin-right: 180px;
  margin-top: 15px;
  padding-top: 50px; 
  

}

.header header img {
  margin-top: 40px;
  margin-left: 50px;
  height: 300px; 
  margin-bottom: 50px;
  padding-top: 45px; 
}

header {
  margin-top: 0px;
  display: flex; 
  align-content: center;
  text-align: center;
  border-bottom: 5px solid black; 
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
}

div p{
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster', cursive;

}

#nav-bar {
  width: 100%;
  position: fixed; 
  height: 100px; 
  justify-content: space-around;
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
  display: flex;
  align-items: center;
  top: 0;
  
}

.heart {
  color: red;
}

#nav-bar a{
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30px;
  
}

#nav-bar a:hover{
  color: rgb(194, 25, 25);
}

.shuffler div{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.shuffler h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.shuffler{
  align-content: center;
  text-align: center;
}

.log{
  display: flex; 
  flex-direction: column;
  width: 150px; 
  margin: 0 auto;

}


.Loginform {
  
  align-content: center;
  text-align: center;
  
}

.reg{
  display: flex; 
  flex-direction: column;
  width: 200px; 
  margin: 0 auto;

}

.Registerform{
  align-content: center;
  text-align: center;
  display: block; 
}

.button{
  align-content: center;
  text-align: center;
}

/* Combo Board */

.comboCard {
  background-color: lightblue; 
}

.row {
  background-color: white; 
  border-radius: 50px 50px 50px 50px; 
  padding-top: 45px; 
  padding-bottom: 10px; 
}

.boardCard button {
  align-content: center;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px; 
  width: 10%;  
  justify-content: space-around;
  margin-top: 45px; 
  background-color: white;
}
.boardCard .heart {
  height: 30px;
  width: 30px; 
  
}



div .boardCard {
  padding-top: 30px; 
  
  
}